<div class="navbar navbar-expand-sm bg-dark
 navbar-dark fixed-top">
 <span class="navbar-brand">BookHub </span>
 <ul class="navbar-nav">
 <li class="nav-item">
 <a class="nav-link" routerLink='/'>Home</a>
 </li>
 <li class="nav-item">
 <a class="nav-link"
 routerLink='/books'>Books</a>
 </li>
 <li class="nav-item">
    <a class="nav-link"
     href="https://github.com/JessDevv">Github</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
         href="https://twitter.com/BookHubsData">Twitter</a>
        </li>
       
            <li class="nav-item">
                <a class="nav-link"
                 href="https://auth0.auth0.com/u/login/identifier?state=hKFo2SA2ZE5lQVBrQk5rZnJXczZlNDV5M0NsbV9YdFI5SGtpLaFur3VuaXZlcnNhbC1sb2dpbqN0aWTZIDdISTRSd3ZpdDZ1OGpvNE1taWU3a0hLVENLVkpWclllo2NpZNkgYkxSOVQ1YXI2bkZ0RE80ekVyR1hkb3FNQ000aU5aU1Y">Login</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link"
                     href="mailto:Jess-W@Ulster.ac.uk">Email Developer</a>
                    </li>
             
 
 </ul>
</div>